head{
    padding: 200%;
}
button {
    border-radius: 48%;
    padding: 15px 18px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 

  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }